# ┌───────────── 分鐘   (0 - 59)
# │ ┌─────────── 小時   (0 - 23)
# │ │ ┌───────── 日     (1 - 31)
# │ │ │ ┌─────── 月     (1 - 12)
# │ │ │ │ ┌───── 星期幾 (0 - 7，0 是週日，6 是週六，7 也是週日)
# │ │ │ │ │
# * * * * * /path/to/command

# 星號*	代表接受任意時刻
# 逗號,	分隔多個不同時間點。例如3,6,9。
# 減號-	代表一段時間區間，例如若在第二欄填入 8-12 就代表從 8 點到 12 點
# 斜線加數字/n	每隔 n 的單位, */5 就代表每間隔五分鐘


# Execute every 5 minutes
*/5 * * * * /path/to/script.sh
